.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  &-logo {
    font-size: 40px;
    color: #fff;
  }
  &-title {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .anticon {
    color: #fff;
    font-size: 28px;
    margin: auto 0;
    display: none;
  }
  @media screen and(max-width: 767px) {
    .anticon {
      display: inline;
    }
  }
}
