.user-list {
  padding: 16px;
  background: rgb(255, 224, 224);

  nz-table.ant-table-wrapper {
    position: relative;
    width: 100%;
  }
  .ant-table-tbody > tr > td {
    padding: 8px 16px;
  }
  nz-pagination.ant-table-pagination.ant-pagination {
    background: #fff;
    margin: 0px;
    padding: 8px 0;
  }
  nz-pagination.ant-table-pagination-right {
    justify-content: center;
  }
  @media screen and(max-width: 767px) {
    nz-table {
      background: #fff;
    }
    nz-table.ant-table-wrapper {
      overflow-y: scroll;
      .ant-table-row {
        background: #fff;
      }
    }
    nz-pagination.ant-table-pagination-right {
      justify-content: start;
    }
  }
}
